<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BackupBankEntityModelContainer" connectionString="metadata=res://*/BackupBankEntityModel.csdl|res://*/BackupBankEntityModel.ssdl|res://*/BackupBankEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MATT-PC\SQLEXPRESS;Initial Catalog=BackupBank;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>