<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,&#xD;&#xA;Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <connectionStrings>


    <!-- Premek's Connection String --> <add name="BankEntityModelContainer" connectionString="metadata=res://*/BankEntityModel.csdl|res://*/BankEntityModel.ssdl|res://*/BankEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=\\10.0.0.101\pipe\sql\query;Initial Catalog=Bank;Integrated Security=True;Pooling=False&quot;" providerName="System.Data.EntityClient" /> 
    <!-- Raul's Connection String <add name="BankEntityModelContainer" connectionString="metadata=res://*/BankEntityModel.csdl|res://*/BankEntityModel.ssdl|res://*/BankEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RAUL-VAIO\SQLEXPRESS;Initial Catalog=Bank;Integrated Security=True;Pooling=False&quot;" providerName="System.Data.EntityClient" /> -->
    <!-- Martin's Connection String <add name="BankEntityModelContainer" connectionString="metadata=res://*/BankEntityModel.csdl|res://*/BankEntityModel.ssdl|res://*/BankEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Martin-PC;Initial Catalog=Bank;Integrated Security=True;Pooling=False&quot;" providerName="System.Data.EntityClient" /> -->

    
  </connectionStrings>
  <unity>

    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton"
                 type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,&#xD;&#xA;                     Microsoft.Practices.Unity"
                                                />
      <typeAlias alias="external"
                 type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,&#xD;&#xA;                     Microsoft.Practices.Unity"
                                                />

      <!-- Custom object types -->
      <typeAlias alias="IBankAsynchronousTransferProvider"
                 type="Bank.Business.Components.Interfaces.IBankAsynchronousTransferProvider, Bank.Business.Components.Interfaces" />
      <typeAlias alias="BankAsynchronousTransferProvider"
                 type="Bank.Business.Components.BankAsynchronousTransferProvider, Bank.Business.Components" />
    

    <typeAlias alias="IBankSynchronousTransferProvider"
                 type="Bank.Business.Components.Interfaces.IBankSynchronousTransferProvider, Bank.Business.Components.Interfaces" />
    <typeAlias alias="BankSynchronousTransferProvider"
               type="Bank.Business.Components.BankSynchronousTransferProvider, Bank.Business.Components" />
    </typeAliases>

    <containers>
      <container name="containerOne">
        <types>

          <type type="IBankAsynchronousTransferProvider" mapTo="BankAsynchronousTransferProvider" />
          <type type="IBankSynchronousTransferProvider" mapTo="BankSynchronousTransferProvider" />

        </types>
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <services>
      <service name="Bank.Services.BankAsynchronousTransferService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.msmq://localhost/private/BankAsynchronousTransferQueueTransacted" bindingConfiguration="msmqSecurityConfig" binding="netMsmqBinding" contract="Bank.Services.Interfaces.IBankAsynchronousTransferService" />
        <endpoint address="net.tcp://localhost:9020/BankAsynchronousTransferService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Bank.Services.BankSynchronousTransferService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.tcp://localhost:9060/BankSynchronousTransferService" binding="netTcpBinding" bindingConfiguration="TransactionalTCP" contract ="Bank.Services.Interfaces.IBankSynchronousTransferService"/>
        <endpoint address="net.tcp://localhost:9060/BankSynchronousTransferService/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="msmqSecurityConfig" durable="true">
          <security mode="None" />
        </binding>
        <binding name="NetMsmqBinding_ITransferNotificationService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>


        <binding name="NetMsmqBinding_ISystemWideLoggingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

      </netMsmqBinding>
      
      
      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true" />
        
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.msmq://localhost/private/BankTransferNotificationQueueTransacted"
        binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ITransferNotificationService"
        contract="TransferNotificationService.ITransferNotificationService"
        name="NetMsmqBinding_ITransferNotificationService" />


      <endpoint address="net.msmq://localhost/private/SystemWideLoggingServiceMessageQueue"
          binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ISystemWideLoggingService"
          contract="SystemLogService.ISystemLogService" name="NetMsmqBinding_ISystemWideLoggingService" />

    </client>
  </system.serviceModel>
  
</configuration>