<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
                 Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="EmailService.Services.EmailService" behaviorConfiguration="ServiceMetadataBehavior">
        <endpoint address="net.msmq://localhost/private/EmailServiceQueue" bindingConfiguration="msmqSecurityConfig" binding="netMsmqBinding" contract="EmailService.Services.Interfaces.IEmailService"/>
        <endpoint address="net.tcp://localhost:9040/EmailService/mex" binding ="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <bindings>

      <netMsmqBinding>
        
        <binding name="msmqSecurityConfig" durable="true">
          <security mode="None" />
        </binding>

        <binding name="NetMsmqBinding_ISystemWideLoggingService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          deadLetterQueue="System" durable="true" exactlyOnce="true" maxReceivedMessageSize="65536"
          maxRetryCycles="2" receiveErrorHandling="Fault" receiveRetryCount="5"
          retryCycleDelay="00:30:00" timeToLive="1.00:00:00" useSourceJournal="false"
          useMsmqTracing="false" queueTransferProtocol="Native" maxBufferPoolSize="524288"
          useActiveDirectory="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="RC4Stream"
              msmqProtectionLevel="Sign" msmqSecureHashAlgorithm="Sha1" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>

      </netMsmqBinding>


      <netTcpBinding>
        <binding name="TransactionalTCP" transactionFlow="true"/>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>

      <endpoint address="net.msmq://localhost/private/SystemWideLoggingServiceMessageQueue"
          binding="netMsmqBinding" bindingConfiguration="NetMsmqBinding_ISystemWideLoggingService"
          contract="SystemLogService.ISystemLogService" name="NetMsmqBinding_ISystemWideLoggingService" />

    </client>


  </system.serviceModel>
</configuration>